<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/src/vendor/bootstrap/css/bootstrap.min.css">
<script src="/src/vendor/jquery/jquery.js"></script>
<script src="/src/vendor/holder/holder.min.js"></script>
<script src="/src/scripts/query.js"></script>
<script src="/src/vendor/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/src/styles/main.css">
<link rel="stylesheet" href="/src/styles/map.css">
<title>Навигатор</title>