<div class="map map--with-paths">
	<div class="map__wrapper">
		<canvas width="2000px" height="2000px" class="map__ui"></canvas>
	</div>
</div>
<script type="module" src="/src/scripts/with-paths.js"></script>
