<div class="search">
	<div class="row">
		<div class="col-xs-10">
			<input class="form-control mr-sm-2" type="text" placeholder="Где я?" aria-label="Search" id="Search1">
		</div>
		<div class="col-xs-2">
			<button id = "Poisk1" class="btn my-2 my-sm-0" type="button">Найти</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10">
			<input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search" id="Search2">
		</div>
		<div class="col-xs-2">
			<button id = "Poisk2" class="btn my-2 my-sm-0" type="button">Найти</button>
		</div>
	</div>
</div>